rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /boards/{boardId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.uid in resource.data.members;

      match /nodes/{nodeId} {
        allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/boards/$(boardId)).data.members;
      }
    }
  }
}
